# MongoDB Database
MONGODB_URI=mongodb+srv://18shrimanmogaveer:7a9Z96gyr8ULeFgH@cluster0.aicdsmg.mongodb.net/myntra-clone?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=SecretKeyForLocalCart

# SMS Service (for OTP)
TWILIO_ACCOUNT_SID=your-twilio-account-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_PHONE_NUMBER=your-twilio-phone-number

# File Upload
CLOUDINARY_CLOUD_NAME=dtvy2em4c
CLOUDINARY_API_KEY=594746835724677
CLOUDINARY_API_SECRET=bjkOPB7VHyVTZs_mS62ZHnyz6fo
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dtvy2em4c


# App Settings
NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development



# Optional: Email Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
